#mainContainer {
  width: 400px;
  height: 350px;
  margin-top: 20px;
  background-color: rgb(4, 33, 71);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

span {
  color: rgb(176, 213, 255);
  font-weight: bold;
}

#btnGenerateNumbers {
  font-weight: 600;
  width: 120px;
  height: 60px;
  border-radius: 5px;
  border-color: white;
}

#btnGenerateNumbers:hover {
  background-color: rgb(115, 176, 255);
}

.evenNumbersContainer {
  flex-basis: 50%;
  height: 400px;
  margin-top: 25px;
}

.oddNumbersContainer {
  flex-basis: 50%;
  height: 400px;
  margin-top: 25px;
}

li {
  color: white;
  list-style: none;
  width: 50px;
}

ul {
  /* jesli chcesz wysrodkowac elementy listy ul ktora jest w innym kontenerze to usun najpierw paddingi (padding jest od elementu margin od zewnatrz :)) */
  text-align: center;
}
